html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

li {
  margin-left: 1em;
}

header {
  padding: 1em;
}

main {
  padding: 1em;
}

.l-toggle:checked ~ table td:nth-child(4),
.l-toggle:checked ~ table th:nth-child(4) {
  display: none;
}

table {
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid;
  text-align: left;
}

td,
th {
  padding: 0.5em;
  vertical-align: top;
}

@media screen and (max-width: 439px) {
  .l-filter {
    width: 100%;
    margin-bottom: 1em;
    font-size: 125%;
  }

  .l-toggle {
    font-size: 125%;
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 719px) {
  table {
    display: block;
  }

  tr {
    display: block;
  }

  td {
    display: block;

    &::before {
      display: inline-block;
      font-weight: 700;
      margin-right: 0.25em;
    }
  }

  th {
    display: none;
  }

  .tb-id::before {
    content: 'ID:';
  }

  .tb-title::before {
    content: 'Title:';
  }

  .tb-dewey::before {
    content: 'DDS:';
  }

  .tb-available::before {
    content: 'Available at:';
  }

  .tb-borrowed::before {
    content: 'Borrowed?:';
  }
}
